.bg-white{
    background-color: white;
}
.btn-black{
    background: #ffff;
    text-transform: capitalize;
    font-size: 0.8 rem !important;
    color: #33A0FF;
   
}

.count{
    color: #000;
}


.cart-icon{
    cursor: pointer;
    font-size: 1.2rem;
}