.footer{
    width: 70%;
    margin: 20px auto;
}

.f-1{
    display: flex;
    justify-content: space-between;
}

.f1-ele{
    width: 25%;
    font-size: 10px;
    color: #22262A;
    
}
.desc{
    font-size: 9px;
}

.ishop{
    font-size: 20px;
    color: #C1C8CE;font-weight: 500;
}

.hr{
    color: lightgrey ;
    margin-bottom: 10px;
}

.follow{
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;

}

.f-2{
    display: flex;
    justify-content: space-between;
}